<div class="author">
    <h1 class="author_heading">Hi, I am Richard</h1>
    <p class="author_body">Web Developer and Content Creator</p>
</div>

<img style='display: node' onload="this.style.display = 'block'" 
src="/img/hero-image.jpg" alt="person looking throughout the window" class="hero-img" width="981" height="528">

<section class="articles">
    
    <h2 class="articles_heading">Latest Post</h2>
    
    <ul class="article-ul">
        <li>
            <a href="#">
                <span>Post Title</span>
                <span class="article-list_date">Date</span>
            </a>
        </li>
    </ul>

    <a href="#" class="pagination">&lt View Older Posts</a>

</section>
