<div class="author">
    <h1 class="author__heading">Hi, I am Richard</h1>
    <p class="author__body">Web Developer and Content Creator</p>
</div>

<img style='display: node' onload="this.style.display = 'block'" 
src="/img/hero-image.jpg" alt="person looking throughout the window" class="hero-img" width="981" height="528">

<section class="articles">
    
    <h2 class="articles__heading">Latest Post</h2>
    
    <ul class="article-ul">
        <% data.forEach(post=> { %>
            <li>
                <a href="/post/<%= post._id %>"> 
                    <span>
                        <%= post.title %>
                    </span>
                    <span class="article-list__date">
                        <%= post.createdAt.toDateString() %>
                    </span>
                </a>
            </li>
        <% }) %>
    </ul>

    <% if (nextPage !== null) { %>
        <a href="/?page=<%= nextPage %>" class="pagination">&lt View Older Posts</a>
    <% } %>

</section>
